*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.img{
    background-image: url("../photo/pic-cHPmKvC3w-transformed.jpeg");
    border-radius: 100%;
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 0.1px solid black;
    background-repeat: no-repeat;
    background-size: contain;
    margin:40px 0px 5px 42px ;
}
.box1{
    float: left;
    border: #e1e4e8 1px solid;
    height: 1350px;
    width: 350px;
    // position: relative;
    // bottom: 25px;
    background-color: #fff;
}
.box-text{
    display: inline-block;
    
    margin-left: 42px;
    height: 230px;
    width: 280px;
}
.name{
    font-weight: 620;
    font-size: 30px;
    height: 40px;
    width: 279px;
    margin-bottom: 5px;
}
.job{
    font-weight: 350;
}
.text-box1{
    margin-top: 22px;
}

.git-logo{
    background-image: url("../photo/git.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 21px;
    width: 21px;
    
}
.link-logo{
    background-image: url("../photo/link.webp");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-top: 5px;
}
a {
    display: inline-block;
    border: 50px;
    margin-left: 5px;
    font-size: 15px;
    color: #6d72d6;
    position: relative;
    bottom: 4px;
    text-decoration: underline;
}
.collage{
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    
}


.collage-logo{
    background-image: url("../photo/collage.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 21px;
    width: 21px;
    position: relative;
    bottom: 5px;
    margin-right: 8px;
}

.text-col{
    display: inline-block;
    margin-top: 16px;
}

.inter{
    margin-top: 25px;
}
.i-logo{
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: relative;
    top: 5px;
    // border: blue 1px solid;

}
.inter-logo{
    display: inline-block;
    background-image: url("../photo/i1.jpg");
}
.inter-logo2{
    display: inline-block;
    background-image: url("../photo/i2.jpg");
}
.inter-logo3{
    display: inline-block;
    background-image: url("../photo/i3.jpg");
}
.text-inter{
    display: inline-block;
   position: relative;
   bottom: 37px;
   font-weight: 500;
}
.text-inter2{
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 60px;
    font-weight: 500;
}
.head-inter{
    // text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;

}
.a-r{
    background-color: #28a745;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.a1{
    margin-left: 60px;
    position: relative;
    bottom: 20px;
}
.r1:hover{
    color: black;
    background-color: #6d72d6;
}
.img-11{
    height: 20px;
    width: 20px;
    background-image: url("../photo/1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.link-t1{
    background-image: url("../photo/x.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-top: 5px;
}
.logoa{
    position: relative;
    bottom: 10px;
}
.link-r1{
    background-image: url("../photo/r.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 23px;
    width: 23px;
    position: relative;
    left: 5px;
    bottom: 5px;
    margin-top: 5px;
}
