.box2{
    height: 812px;
    width: 100%;
    background-color: #fafbfc;
}
.text-box2{
    font-size: 12px;
}
h1{
    font-weight: 600;
}
h2{
    font-weight: 330;
    font-size: 6;
    margin-top: 2px;
}